#github-user.invalid {
		background: #ffcfcc;
		border-color: #d9534f;
}

#github-user.valid {
		background: #ceefce;
		border-color: #5cb85c;
}

.hide {
		display: none;
}

.no-user {
		color: #d9534f;
		font-weight: bold;
}
