#keyboard {
		margin: 0;
		padding: 0;
		list-style: none;
}

#keyboard li {
		float: left;
		margin: 0 5px 5px 0;
		width: 2vw; /*40px*/
		min-width: 20px;
		height: 2em;
		line-height: 2em;
		text-align: center;
		background: #fff;
		/* border: 1px solid #f9f9f9; */
		border: 1px solid #595959;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

.capslock, .tab, .left-shift {
		clear: left;
}

#keyboard .tab, #keyboard .delete {
		/* width: 70px; */
		min-width: 30px;
		width: 3vw;
}

#keyboard .capslock {
		/* width: 80px; */
		min-width: 40px;
		width: 4vw;
}

#keyboard .return {
		/* width: 77px; */
		min-width: 35px;
		width: 3vw;
}

#keyboard .left-shift {
		/* width: 95px; */
		min-width: 50px;
		width: 5vw;
}

#keyboard .right-shift {
		/* width: 109px; */
		min-width: 50px;
		width: 5vw;
}

.lastitem {
		margin-right: 0;
}

.uppercase {
		text-transform: uppercase;
}

#keyboard .space {
		clear: left;
		/* width: 681px; */
		min-width: 360px;
		width: 34vw;
}

.shifted {
		display: none;
}

.keyboard_container {
		min-width: 360px;
		width: 35vw;
		height: 100px;
		text-align: center;
		margin: auto;
}
