.padding {
    padding: 0.5em;
}

$gradiant-color: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
$gradiant-color-nored: linear-gradient(to left, #12c2e9, #c471ed);

/* #github-user { */
/*     // leave it for fun for now, disable the round corners */
/*     border-image-source: $gradiant-color-nored; */
/*     border-width: 1px; */
/*     border-image-slice: 1; */
/* } */

/* h1 { */
/*     // color: $gradiant-color; */
/*     background: $gradiant-color; */
/*     -webkit-background-clip: text; */
/*     -webkit-text-fill-color: transparent; */
/* } */

#options-button:hover {
		cursor: pointer;
}

#top-right, #top-right>a:visited, #top-right>a:active, #top-right>a{
		text-align: right;
		width: 100%;
		color: white !important;
		font-size: 1.8em;
}

hr {
		background-color: white;
}

body, nav {
	  color: white;
		background: linear-gradient(129deg, #0034d7, #d5b73b, #d5573b);
		background-size: 600% 600%;

		-webkit-animation: AnimationName 15s ease infinite;
		-moz-animation: AnimationName 15s ease infinite;
		-o-animation: AnimationName 15s ease infinite;
		animation: AnimationName 15s ease infinite;

		@-webkit-keyframes AnimationName {
				0%{background-position:0% 55%}
				50%{background-position:100% 46%}
				100%{background-position:0% 55%}
		}
		@-moz-keyframes AnimationName {
				0%{background-position:0% 55%}
				50%{background-position:100% 46%}
				100%{background-position:0% 55%}
		}
		@-o-keyframes AnimationName {
				0%{background-position:0% 55%}
				50%{background-position:100% 46%}
				100%{background-position:0% 55%}
		}
		@keyframes AnimationName {
				0%{background-position:0% 55%}
				50%{background-position:100% 46%}
				100%{background-position:0% 55%}
}
}
