.fade-enter-active, .fade-leave-active {
		transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
		opacity: 0;
}

.lds-dual-ring {
		display: inline-block;
		width: 64px;
		height: 64px;
}
.lds-dual-ring:after {
		content: " ";
		display: block;
		width: 46px;
		height: 46px;
		margin: 1px;
		border-radius: 50%;
		border: 5px solid #fff;
		border-color: #fff transparent #fff transparent;
		animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
		0% {
				transform: rotate(0deg);
		}
		100% {
				transform: rotate(360deg);
		}
}

$flash-transition-time: 1.0s;
$flash-color: #0df;

.flash {
		-webkit-animation-name: flash-animation;
		-webkit-animation-duration: $flash-transition-time;

		animation-name: flash-animation;
		animation-duration: $flash-transition-time;
}

@-webkit-keyframes flash-animation {
		from { background: $flash-color; }
		to   { background: default; }
}

@keyframes flash-animation {
		from { background: $flash-color; }
		to   { background: default; }
}
